
    <% include partials/header %>
    <main>
        <div>
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
          <h4><%= user?.email %></h4>
        </div>
    </main>
    <% include partials/footer %>
 
