<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <header class="flex">
    <div>
      <a href="/">
        <button>HOME</button>
      </a>
    </div>
    <div>
      <a href="/">
        <button>Log Out</button>
      </a>
    </div>
  </header>
  <main>
    <div>
      <h2>Products List</h2><hr><hr>
      <% products.forEach(product=>{ %>
        <p> Product Name:<%= product.productName %></p>
        <a href="/products/<%= product.id %>">
          <button>MORE</button>
        </a><hr>
      
     <% }) %>
    </div>
  </main>
</body>
</html>